<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>60809264338-5pa7gu8ff6bn6gfms73t55jkfv4esker.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.60809264338-5pa7gu8ff6bn6gfms73t55jkfv4esker</string>
	<key>API_KEY</key>
	<string>AIzaSyALgz0qa6iLcatwLslUqpz5pPX7bac2nLA</string>
	<key>GCM_SENDER_ID</key>
	<string>60809264338</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cm.muhamadhaspin.todoWithFirebase</string>
	<key>PROJECT_ID</key>
	<string>muhamad-todo</string>
	<key>STORAGE_BUCKET</key>
	<string>muhamad-todo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:60809264338:ios:0c27435828b7e5dcad410b</string>
</dict>
</plist>