<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1026198408047-tvktjv3o6s7a4euvta5mh6j7kn50sfc1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1026198408047-tvktjv3o6s7a4euvta5mh6j7kn50sfc1</string>
	<key>API_KEY</key>
	<string>AIzaSyDzXkmCOUxPHTeksnSf1cmUhIUnYCiuAXM</string>
	<key>GCM_SENDER_ID</key>
	<string>1026198408047</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cm.muhamadhaspin.todoWithAmplify</string>
	<key>PROJECT_ID</key>
	<string>muhamadtodo</string>
	<key>STORAGE_BUCKET</key>
	<string>muhamadtodo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1026198408047:ios:d07fe7895ab4035728f69a</string>
</dict>
</plist>